@using Portfolio.Shared
@inherits LayoutComponentBase

<div>
    <CascadingValue Value="Portfolio">
        <header>
            <a href="/">
                <h1 tabindex=""><img src="/images/Izzy Bodell Header.png" alt="Izzy Bodell" /></h1>
            </a>
        </header>

        <aside>
            <nav>
                TODO: Nav
            </nav>
        </aside>
        <main>
            @Body
        </main>
    </CascadingValue>
</div>

