@using Portfolio.Shared
@inherits LayoutComponentBase

<CascadingValue Value="Portfolio">
    <CascadingValue Value="Theme">
        <div class="page @Theme?.ToString()?.ToLower()">
            <header>
                <a href="/"><h1 tabindex=""><StylizedPunctuation Text="@(Portfolio.Name + ".")" /></h1></a>
            </header>

            <Menu @bind-Theme="Theme" />

            <main>
                @Body
            </main>
        </div>
    </CascadingValue>
</CascadingValue>


@code {
    private SitePortfolio Portfolio = PortfolioProvider.Portfolio;

    private Theme? Theme;
}