@using Portfolio.Shared
@inherits LayoutComponentBase

<div>
    <CascadingValue Value="Portfolio">
        <menu>
            <Menu Works="Portfolio.Works" MenuItems="MenuItems" />
        </menu>
        <header>
            <a href="/">
                <h1 tabindex=""><img src="/images/Izzy Bodell Header.png" alt="Izzy Bodell" /></h1>
            </a>
        </header>
        <main>
            @Body
        </main>
    </CascadingValue>
</div>

