@using Portfolio.Shared
@inherits LayoutComponentBase

<div>
    <CascadingValue Value="Portfolio">
        <menu>
            <Menu Works="Portfolio.Works" MenuItems="MenuItems" />
        </menu>
        <section>
            <header>
                <a href="/">
                    <h1 tabindex=""><img src="/images/Izzy Bodell Header.png" alt="Izzy Bodell" /></h1>
                </a>
            </header>
            <main>
                @Body
            </main>
        </section>
    </CascadingValue>
    <overlay>
        <img class="overlay overlay-1" src="/images/Overlay 1.png" alt="drawn flower" />
        <img class="overlay overlay-2" src="/images/Overlay 2.png" alt="drawn flower" />
        <img class="overlay overlay-3" src="/images/Overlay 3.png" alt="drawn flower" />
        <img class="overlay overlay-4" src="/images/Overlay 4.png" alt="drawn flower" />
    </overlay>
</div>

