@using Portfolio.Shared
@inherits LayoutComponentBase

<CascadingValue Value="Portfolio">
    <CascadingValue Value="Theme">
        <div class="page @Theme?.ToString()?.ToLower()">
            <header>
                <a href="/">
                    <h1 tabindex=""><StylizedPunctuation Text="@(Portfolio.Name + ".")" /></h1>
                    <selected-nav-item class="@(menuOpen ? "open" : "closed")">
                        @(selected?.Name?? "...")
                    </selected-nav-item>
                </a>
            </header>

            <Menu @bind-Theme="menuHoverTheme" Open="menuOpen" MenuItems="MenuItems" />

            <main>
                @Body
            </main>
        </div>
    </CascadingValue>
</CascadingValue>

