div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
menu {
  min-width: 450px;
}
header a {
  display: block;
  max-width: 1050px;
  padding: 0 80px;
}
section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
overlay .overlay {
  position: fixed;
  z-index: 1;
  max-width: 15%;
}
overlay .overlay-1 {
  top: 0;
  left: 0;
}
overlay .overlay-2 {
  top: 0;
  right: 0;
}
overlay .overlay-3 {
  top: 5%;
  left: calc(450px - 7.5%);
}
overlay .overlay-4 {
  max-width: 20%;
  bottom: 0;
  left: calc(450px - 15%);
}