<nav class="@(Open ? "open" : "closed")">
    @foreach (var item in MenuItems)
    {
        <NavLink Match="NavLinkMatch.Prefix" href="@item.Url">
            <nav-item>@item.Name</nav-item>
        </NavLink>
    }
</nav>


@code {

}
