<nav class="@(Open ? "open" : "closed")">
    @foreach (var item in MenuItems)
    {
        <NavLink Match="NavLinkMatch.Prefix"
             href="@item.Url"
             @onmouseover=@(() => SetTheme(item.Theme))
             @onmouseout=@(() => SetTheme(null))
             @ontouchstart=@(() => SetTheme(item.Theme))
             @ontouchend=@(() => SetTheme(null))>
            <nav-item>@item.Name</nav-item>
        </NavLink>
    }
</nav>


@code {

}
