@import (reference) "../Styles/common.less";

.button-theme(@themeColor) {
    color: @workTheme;
    border-color: @workTheme;

    &:hover {
        box-shadow: fade(@themeColor, 20%) 0 0 0 10px;
    }
}

.button {
    display: inline-block;
    border: 3px solid black;
    background: transparent;
    padding: 17px 40px;
    border-radius: 80px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    transition: box-shadow 0.2s;

    .work & {
        .button-theme(@workTheme);
    }

    .education & {
        .button-theme(@educationTheme);
    }

    .achievements & {
        .button-theme(@achievementTheme);
    }
}
