button-container ::deep .button {
  display: inline-block;
  border: 3px solid black;
  background: transparent;
  padding: 17px 40px;
  border-radius: 54px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  transition: box-shadow 0.2s;
}
.work button-container ::deep .button {
  color: #853EF3;
  border-color: #853EF3;
  transition: color 0.2s, background 0.2s, box-shadow 0.2s;
}
.work button-container ::deep .button:hover {
  box-shadow: rgba(133, 62, 243, 0.2) 0 0 0 10px;
}
.work button-container ::deep .button.active {
  background: #853EF3;
  color: white;
}
.education button-container ::deep .button {
  color: #23CB89;
  border-color: #23CB89;
  transition: color 0.2s, background 0.2s, box-shadow 0.2s;
}
.education button-container ::deep .button:hover {
  box-shadow: rgba(35, 203, 137, 0.2) 0 0 0 10px;
}
.education button-container ::deep .button.active {
  background: #23CB89;
  color: white;
}
.achievements button-container ::deep .button {
  color: orange;
  border-color: orange;
  transition: color 0.2s, background 0.2s, box-shadow 0.2s;
}
.achievements button-container ::deep .button:hover {
  box-shadow: rgba(255, 165, 0, 0.2) 0 0 0 10px;
}
.achievements button-container ::deep .button.active {
  background: orange;
  color: white;
}
@media only screen and (max-width: 800px) {
  button-container ::deep .button {
    font-size: 14px;
    padding: 10px 20px;
    border-width: 2px;
  }
}