<a href="@Url">
    @if (Name != null && Name.Contains("3CS"))
    {
        @*If this is the 3CS logo, import the open sans font*@
        <HeadContent>
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet"> 
        </HeadContent>
        <company class="threecs"><threecs>3CS</threecs> Software</company>
    }
    else
    {
        <company>@Name</company>
    }
</a>

@code {
    [Parameter] public string? Name { get; set; }
    [Parameter] public string? Url { get; set; }
}
