company {
  transition: color 0.2s;
}
.work company {
  color: #853EF3;
}
.education company {
  color: #23CB89;
}
.achievements company {
  color: orange;
}
company.threecs {
  color: #333;
}
threecs {
  display: inline-block;
  border-radius: 35px;
  height: 49px;
  width: 94.5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 30.8px;
  line-height: 46.9px;
  color: #fff;
  background: #333;
}