overlay-page {
  background: #FAFAFA;
  position: absolute;
  top: 0;
  z-index: 2;
  padding: 80px;
  color: black;
  min-height: 100vh;
}
@media only screen and (max-width: 1550px) {
  overlay-page {
    padding: 40px;
  }
}
@media only screen and (max-width: 800px) {
  overlay-page {
    padding: 20px;
  }
}
@media only screen and (max-width: 800px) {
  overlay-page {
    left: 0;
  }
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header a {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  color: #CBCBCB;
  border: 3px solid transparent;
  border-radius: 50%;
  -webkit-transition: color 0.4s, border-color 0.4s;
  transition: color 0.4s, border-color 0.4s;
}
header a:hover {
  color: #2571E9;
  border-color: #2571E9;
}
h2 {
  font-weight: 600;
  font-size: 45px;
}
@media only screen and (max-width: 800px) {
  h2 {
    font-size: 26px;
  }
}