@page "/about"

<OverlayPage Title="About">
    <izzy>
        <img class="izzy" src="/images/izzy.png" alt="Photo of izzy" />
        <img class="me" src="/images/me.png" alt="Photo of izzy" />
    </izzy>
    <section>
        <p>As an artist and designer, I value functional design and design that encourages and challenges people to think, and problem solve. </p>
        <p>I have worked in the area of user experience design for a little over a year now. I know that my experiences and skills I have developed through my professional and personal work have contributed to my passion for removing the unnecessary line between art and design. </p>
        <p>Through my practise as a designer I am able to employ technical skills, problem solving skills and design fundamentals to develop cohesive tangible and digital projects.</p>
    </section>
</OverlayPage>
