@import (reference) "../Styles/common.less";

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .dynamic-spacing(gap, @mobileSpacing: 50px);
    .dynamic-spacing(margin-right, @mobileSpacing: 0);
    .dynamic-spacing(margin-bottom, @mobileSpacing: 40px);

    @media @tablet {
        grid-template-columns: repeat(1, 1fr);
    }
}