section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  margin-left: auto;
  height: 70vmin;
  width: 70vmin;
}
circle {
  display: block;
  transition: all 0.2s;
  width: 0;
  height: 0;
  border: 0px solid transparent;
}
.work circle {
  width: 50vmin;
  height: 50vmin;
  background: #853EF3;
  box-shadow: rgba(133, 62, 243, 0.2) 0 0 0 50px;
  border-radius: 50%;
}
.education circle {
  width: 40vmin;
  height: 40vmin;
  background: #23CB89;
  box-shadow: rgba(35, 203, 137, 0.2) 0 0 0 60px;
  border-radius: 0;
}
.achievements circle {
  width: 0;
  height: 0;
  border-top: 30vmin solid transparent;
  border-bottom: 30vmin solid transparent;
  border-left: 45vmin solid wheat;
}