@page "/"
@using Portfolio.Shared
@using Portfolio.Shared.Entities

<PageTitle>@Portfolio.Name</PageTitle>

<section>
    @foreach (var work in Portfolio.Works)
    {
        <WorkItem Work="work" />
    }
</section>


@code {
    [CascadingParameter] public SitePortfolio Portfolio { get; set; } = default!;
}