@import (reference) "../Styles/common.less";

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @spacing: @pageSpacing;
    gap: @spacing;
    margin-right: @spacing;
    margin-bottom: @spacing;
}