@page "/"
@using Portfolio.Shared

<PageTitle>Alby Blyth</PageTitle>

<h2>Hello world!</h2>

@foreach(var work in PortfolioProvider.Portfolio.WorkHistory) {
    <work>
        <h3>@work.CompanyName</h3>
    </work>
}