work-page {
  display: flex;
  gap: 40px;
}
nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 0;
}
work {
  display: block;
  width: 100%;
  position: relative;
  left: -100vw;
}
section {
  margin: 20px 0 40px;
}
position {
  font-weight: 600;
}
company {
  font-weight: 600;
  transition: color 0.2s;
}
.work company {
  color: #853EF3;
}
.education company {
  color: #23CB89;
}
.achievements company {
  color: orange;
}
location {
  margin-right: 20px;
}
aside i {
  color: #853EF3;
  padding-right: 5px;
}
@media only screen and (max-width: 800px) {
  work-page {
    flex-direction: column;
    gap: 20px;
  }
  nav {
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  location {
    display: block;
    margin: 0;
    margin-bottom: 10px;
  }
  dates {
    display: block;
  }
}
@keyframes slide-in {
  from {
    opacity: 0;
    left: -100%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}