@import (reference) "../Styles/common.less";

work-page {
    display: flex;
    gap: 40px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-shrink: 0;
}

work {
    display: block;
    width: 100%;
    position: relative;
    left: -100vw;
    animation: slide-in 0.5s forwards;
    animation-delay: 0.5s;
}

section {
    margin: 20px 0 40px;
}

position {
    font-weight: 600;
}

company {
    font-weight: 600;
    .themed-color();
}

location {
    margin-right: 20px;
}

aside {
    i {
        color: @workTheme;
        padding-right: 5px;
    }
}

@media @mobile {
    work-page {
        flex-direction: column;
        gap: 20px;
    }

    nav {
        gap: 10px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    location {
        display: block;
        margin: 0;
        margin-bottom: 10px;
    }
    dates {
        display: block;
    }
}


@keyframes slide-in {
    from {
        opacity: 0;
        left: -100vw;
    }

    to {
        opacity: 1;
        left: 0;
    }
}