@page "/work/{Name}"

<work-page>
    @if (work != null)
    {
        <header>
            <h2>@work.Name - @work.Date.ToYearString()</h2>
            <a href="/"><i class="fa-regular fa-x"></i></a>
        </header>
        <p>@work.Description</p>
    }
    else
    {
        <h2>Page not found :(</h2>
    }
</work-page>


@code {
    [Parameter] public string Name { get; set; } = "";

    private Work? work;

    protected override void OnParametersSet()
    {
        if (!string.IsNullOrEmpty(Name))
        {
            work = WorkHelper.GetWorkItem(Name);
        }
    }
}
