work-page {
  display: flex;
  gap: 40px;
}
nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 0;
}
section {
  margin: 20px 0 40px;
}
h2 {
  font-weight: normal;
}
position {
  font-weight: 600;
}
company {
  font-weight: 600;
  transition: color 0.2s;
}
.work company {
  color: #853EF3;
}
.education company {
  color: #23CB89;
}
.achievements company {
  color: orange;
}
location {
  margin-right: 20px;
}
aside i {
  color: #853EF3;
  padding-right: 5px;
}
@media only screen and (max-width: 800px) {
  work-page {
    flex-direction: column;
    gap: 20px;
  }
  nav {
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}