/*
    
This file contains base styles and variables that can be used in other less files.

When it is included, use the syntax `@import (reference) "..\Styles\common.less";` so that only the functions are imported, not the content.
    
*/

@backgroundColor: #F4F4F4;
@featureColor: #2571E9;
@orangeFeatureColor: #FF8E3B;
@danger: #E60200;


@smallDesktopSize: 1550px;
@tabletSize: 1100px;
@mobileSize: 800px;
@mobileSmallSize: 500px;
@mobile-small: ~"only screen and (max-width: @{mobileSmallSize})";
@mobile: ~"only screen and (max-width: @{mobileSize})";
@tablet: ~"only screen and (max-width: @{tabletSize})";
@small-desktop: ~"only screen and (max-width: @{smallDesktopSize})";
