/*
    
This file contains base styles and variables that can be used in other less files.

When it is included, use the syntax `@import (reference) "..\Styles\common.less";` so that only the functions are imported, not the content.
    
*/

@backgroundColor: #F4F4F4;
@featureColor: #2571E9;
@orangeFeatureColor: #FF8E3B;
@danger: #E60200;

@pageSpacing: 80px;
@pageSpacingDesktop: 80px;
@pageSpacingTablet: 40px;
@pageSpacingMobile: 20px;
@menuWidth: 450px;
@menuWidthTablet: 320px;

@smallDesktopSize: 1550px;
@tabletSize: 1100px;
@mobileSize: 800px;
@mobileSmallSize: 500px;
@mobile-small: ~"only screen and (max-width: @{mobileSmallSize})";
@mobile: ~"only screen and (max-width: @{mobileSize})";
@tablet: ~"only screen and (max-width: @{tabletSize})";
@small-desktop: ~"only screen and (max-width: @{smallDesktopSize})";

.dynamic-spacing(@property) {
    @{property}: @pageSpacingDesktop;

    @media @small-desktop {
        @{property}: @pageSpacingTablet;
    }

    @media @mobile {
        @{property}: @pageSpacingMobile;
    }
}

.background-slide(@color: @featureColor, @backgroundColor: transparent, @hoverColor: white, @hoverBackgroundColor: @orangeFeatureColor, @transitionDuration: 0.2s) {
    .background-slide-base(@color, @backgroundColor, @hoverColor, @hoverBackgroundColor, @transitionDuration);

    &:hover {
        .background-slide-hover(@hoverColor);
    }
}

.background-slide-base(@color: @featureColor, @backgroundColor: transparent, @hoverColor: white, @hoverBackgroundColor: @orangeFeatureColor, @transitionDuration: 0.2s) {
    @background-clip: text, border-box;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, @hoverBackgroundColor 50%, @backgroundColor 50%), linear-gradient(to right, @backgroundColor 50%, @hoverBackgroundColor 50%);
    background-clip: @background-clip;
    -webkit-background-clip: @background-clip;
    color: @color;
    transition: background-position @transitionDuration, color @transitionDuration;
}

.background-slide-hover(@hoverColor: white) {
    .text-slide-hover();
    color: @hoverColor;
}

.text-slide(@color: @featureColor, @hoverColor: @orangeFeatureColor, @transitionDuration: 0.2s) {
    .text-slide-base(@color, @hoverColor, @transitionDuration);

    &:hover {
        .text-slide-hover();
    }
}

.text-slide-base(@color: @featureColor, @hoverColor: @orangeFeatureColor, @transitionDuration: 0.2s) {
    @background-clip: text;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, @color 50%, @hoverColor 50%);
    background-clip: @background-clip;
    -webkit-background-clip: @background-clip;
    color: transparent;
    transition: background-position @transitionDuration;
}

.text-slide-hover() {
    background-position: -100% 0;
}
