
@biennaleFontName: "Biennale";
@fontsRootDirectory: "/fonts";

@font-face {
    font-family: @biennaleFontName;
    src: url("@{fontsRootDirectory}/BiennaleBook.woff2") format('woff2'), url("@{fontsRootDirectory}/BiennaleBook.woff2") format('woff');
    font-weight: normal;
}

@font-face {
    font-family: @biennaleFontName;
    src: url("@{fontsRootDirectory}/BiennaleSemiBold.woff2") format('woff2'), url("@{fontsRootDirectory}/BiennaleSemiBold.woff2") format('woff');
    font-weight: 600;
}


@font-face {
    font-family: @biennaleFontName;
    src: url("@{fontsRootDirectory}/BiennaleBold.woff2") format('woff2'), url("@{fontsRootDirectory}/BiennaleBold.woff2") format('woff');
    font-weight: bold;
}
